<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice</title>
      <link rel="sicon" href="public\server.ico"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1><u>Timestamp Microservice</u></h1>
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/1993-10-15">[project url]/api/1993-10-15</a></li>
        <li><a href="api/750643200000">[project url]/api/750643200000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":750643200000, "Fri, 15 Oct 1993 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://github.com/franco14lorenzo">Franco Lorenzo</a>
      </p>
    </div>
  </body>
</html>
